<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>CinemaDaw</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <h2><strong>CREAR CINEMA:</strong></h2>
        <form th:action="@{/pelicula/create}" th:object="${pelicula}" method="post">
            
            <label>Títol:</label><br>
            <input type="text" th:field="*{títol}"/><br><br>
            <div th:if="${#fields.hasErrors('títol')}" th:errors="*{títol}"></div>


            <label>Durada (minuts):</label><br>
            <input type="text" th:field="*{durada}"/><br><br>
            <!-- <div th:if="${#fields.hasErrors('durada')}" th:errors="*{durada}"></div> -->


            <label>Gènere:</label><br>
            <input type="text"th:field="*{genere}"/><br><br>
            <div th:if="${#fields.hasErrors('genere')}" th:errors="*{genere}"></div>


            <label>Descripció / sinopsi:</label><br>
            <input type="text"th:field="*{descripcio}"/><br><br>
            <div th:if="${#fields.hasErrors('descripcio')}" th:errors="*{descripcio}"></div>


            <label>Data d'estrena:</label><br>
            <input type="date"th:field="*{data_estrena}"/><br><br>
            <!-- <div th:if="${#fields.hasErrors('data_estrena')}" th:errors="*{data_estrena}"></div> -->



            <button type="submit">Guardar</button>

        </form>

        <footer>
            <p>2026 Cinema Daw</p>
        </footer>
    </body>
</html>