

<h1>Llista cinemes</h1>
<a th:href="@{/pelicula/create}">Afegeix nova pelicula</a>

<!-- per mostrar en fomrat taula -->

<table>
    <thead>
        <tr>
            <th>
                Títol
            </th>
            <th>
                Gènere
            </th>
            <th>
                Durada
            </th>
            <th>
                Data d'estrena
            </th>
            <th>
                Accions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="peli : ${llista}">
            <td th:text="${peli.títol}">Títol de la peli</td>
            <td th:text="${peli.genere}">Acció</td>
            <td th:text="${peli.genere}">120 min</td>
            <td th:text="${peli.data_estrena}">2026-03-05</td>

            <td>
                <a th:href="@{/pelicula/{id}(id=${peli.id})}">
                veure detall
                </a>
                <a th:href="@{/pelicula/update/{id}(id=${peli.id})}">
                editar
                </a>
                <a th:href="@{/pelicula/delete/{id}(id=${peli.id})}">
                eliminar
                </a>
            </td>
        </tr>
    </tbody>
</table>





<!-- L'Iterador (th:each): Si a la teva base de dades tens 3 cinemes, Thymeleaf crearà tres blocs <div> sencers.

L'Accés a Dades: Quan escrius ${cinema.name}, Thymeleaf crida internament al mètode getName() de la teva classe Java Cinema.

El Resultat Final: El navegador no veurà mai el codi th:text. Rebrà un HTML pur amb els noms i ciutats ja escrits, com per exemple: <h3>Cines Full</h3> <p>Cornellà</p>. -->