<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <div th:fragment="content">

        <h2>CREAR SEAT:</h2>
        <form th:action="@{/seats/room/{id}/save(id=${roomId})}" th:object="${seat}" method="post">

           

            
            
            <label>Fila:</label><br>
            <input type="number" th:field="*{seatRow}"/><br><br>
           


            <label>Posició x:</label><br>
            <input type="number" th:field="*{posX}"/><br><br>
            

            <label>Posició y:</label><br>
            <input type="number" th:field="*{posY}"/><br><br>
            

            <label>Numero:</label><br>
            <input type="number" th:field="*{number}"/><br><br>

            <label>Tipus:</label>
            <select th:field="*{seatType}">
                <option th:each="t : ${types}"
                        th:value="${t}"
                        th:text="${t}">
                </option>
            </select><br><br>
          

            <button type="submit">Guardar</button>

        </form>

    </div>
</div>
    </body>
</html>