<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>CinemaDaw</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <h2><strong>CREAR CINEMA:</strong></h2>
        <form th:action="@{/cinema/create}" th:object="${cinema}" method="post">
            
            <label>Nom:</label><br>
            <input type="text" th:field="*{name}"/><br><br>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

            <label>Adreça:</label><br>
            <input type="text" th:field="*{address}"/><br><br>
            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>

            <label>Ciutat:</label><br>
            <input type="text"th:field="*{city}"/><br><br>
            <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>

            <label>Codi Postal:</label><br>
            <input type="text"th:field="*{postalCode}"/><br><br>
            <div th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></div>

            <button type="submit">Guardar</button>

        </form>

        <footer>
            <p>2026 Cinema Daw</p>
        </footer>
    </body>
</html>