<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <div th:fragment="content">

        <h2>EDITAR EL CINEMA:</h2>
        <form th:action="@{/cinema/edit}" th:object="${cinema}" method="post">

            <input type="text" th:field="*{id}" hidden/><br><br>
            
            <label>Nom:</label><br>
            <input type="text" th:field="*{name}"/><br><br>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></p>


            <label>Adreça:</label><br>
            <input type="text" th:field="*{address}"/><br><br>
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" ></p>

            <label>Ciutat:</label><br>
            <input type="text"th:field="*{city}"/><br><br>
            <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" ></p>

            <label>Codi Postal:</label><br>
            <input type="text"th:field="*{postalCode}"/><br><br>
            <p th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" ></p>

            <button type="submit">Guardar</button>

        </form>

    </div>
</div>
    </body>
</html>