<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <div th:fragment="content">
        <header>
           <h1>cinema</h1>
           <nav>
            <a href="/cinemes">cinemes</a>
            <a href="#">contacte</a>
            <a href="/movies">pelicules</a>
           </nav> 
        </header>
        <section>
            <h2> viu la magia del cinema</h2>
            <p>les millors estrenes</p>

        </section>

        <section>
        <h2> NOTÍCIES</h2>
            <div th:each="noticia : ${llista}">
                <h3 th:text="${noticia.headline}">Títol de la notícia</h3>
                <p th:text="${noticia.body}">Contingut de la notícia</p>
            </div>
        </section>


    </div>
</div>
    </body>
</html>