<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>CinemaDaw</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <header>
           <h1>cinema</h1>
           <nav>
            <a href="/cinemes">cinemes</a>
            <a href="#">contacte</a>
           </nav> 
        </header>
        <section>
            <h2> viu la magia del cinema</h2>
            <p>les millors estrenes</p>

        </section>

        <footer>
            <p>2026 Cinema Daw</p>
        </footer>
    </body>
</html>