<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>CinemaDaw</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <header>
           <h1>cinema</h1>
           <nav>
            <a href="/cinemes">cinemes</a>
            <a href="#">contacte</a>
            <a href="/movies">pelicules</a>
           </nav> 
        </header>
        <section>
            <h2> viu la magia del cinema</h2>
            <p>les millors estrenes</p>

        </section>

        <section>
        <h2> NOTÍCIES</h2>
            <div th:each="noticia : ${llista}">
                <h3 th:text="${noticia.titol}">Títol de la notícia</h3>
                <p th:text="${noticia.noticia}">Contingut de la notícia</p>
            </div>
        </section>


        <footer>
            <p>2026 Cinema Daw</p>
        </footer>
    </body>
</html>