<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <div th:fragment="content">

        <h2><strong>CREAR SALA:</strong></h2>
        <form th:action="@{/room/create/{cinemaId}(cinemaId=${cinemaId})}" th:object="${room}" method="post">
            
            <!-- <input type="hidden" th:field="*{cinema}"/> -->

            <label>nom de la sala:</label><br>
            <input type="text" th:field="*{name}"/>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></p><br></br>

            <label>capacitat:</label><br>
            <input type="number" th:field="*{capacity}"/><br><br>
            <p th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}" ></p>

            


            <button type="submit">Guardar</button>

        </form>

    </div>
</div>

    </body>
</html>