<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>CinemaDaw</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <h2><strong>CREAR SALA:</strong></h2>
        <form th:action="@{/room/create/{cinemaId}(cinemaId=${cinemaId})}" th:object="${room}" method="post">
            
            <!-- <input type="hidden" th:field="*{cinema}"/> -->

            <label>nom de la sala:</label><br>
            <input type="text" th:field="*{name}"/><br><br>

            <label>capacitat:</label><br>
            <input type="number" th:field="*{capacity}"/><br><br>

            


            <button type="submit">Guardar</button>

        </form>

        <footer>
            <p>2026 Cinema Daw</p>
        </footer>
    </body>
</html>